PRIVATE_KEY=St*****end
PRIVATE_IV=Dai******word
SHARED_HASH_SECRET=An*****ent

SMACK_USD_AUTH=shp*****6b6b
SMACK_CAD_AUTH=sh******c3c0e

SHOPIFY_API_VERSION=2023-04


WEBHOOK_KEY_USA=f83********eeb3
WEBHOOK_KEY_CAD=27*********b27
